<form name="abtfrm" id="abtfrm">  
    <mat-toolbar  style="width: 100%;">
    <button mat-icon-button >
        <mat-icon>view_headline</mat-icon>
  </button>
  <span style="color:rgb(7, 7, 94)">About Us</span>
    <span class="example-spacer"></span>
    <button type="button" class="btn btn-primary " routerLink="/">Back</button>
  </mat-toolbar>

        <section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About Us</h2>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image" style=" border: 3px solid aliceblue;border-radius: 100%;"><img style="padding-top: 10%;" class="rounded-circle img-fluid" src="https://cdn-icons-png.flaticon.com/128/1078/1078327.png" alt="..."></div>
                <div class="timeline-panel">
                    <div class="timeline-heading" style="font-size: xx-large; color: navy;">
                       <b>Our Vision</b>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Creating a positive impacts and making lives better, premarily in rural communitites.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"  style=" border: 3px solid aliceblue;border-radius: 100%;"><img style="padding-top: 10%;" class="rounded-circle img-fluid" src="https://cdn-icons-png.flaticon.com/128/7198/7198217.png" alt="..."></div>
                <div class="timeline-panel">
                    <div class="timeline-heading"  style="font-size: xx-large; color: navy;">
                        <b>Our Mission</b>
                    </div>
                    <div class="timeline-body"><p class="text-muted">To earn employee and customer trust by engaging with high degree of commitment to their success.</p></div>
                </div>
            </li>

            <li class="timeline-inverted">
                <div class="timeline-image" style="background-color: aliceblue;">
                    <h4 style="color: black;">
                        Be Part
                        <br>
                        Of Our
                        <br>
                        Family!
                    </h4>
                </div>
            </li>
        </ul>
     
    </div>


</section></form>