<!-- nav bar -->
<body>
<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-size: xx-large;">Relevantz</a>
    
  
  <div class="example-button-row">
    <a href="home/home.component.html" routerLink="/" target="_self"><button name = "homeComponent" mat-raised-button class="example-icon" onclick="refreshPage()">Home</button></a>&nbsp;&nbsp;&nbsp;
    <!-- <button name = "contactComponent" (click)="openContact()"mat-raised-button class="example-icon">Contact Us</button>&nbsp;&nbsp; -->
    <a href="login/login.component.html" routerLink="/login" target="_self"><button name ="loginComponent"  mat-raised-button class="example-icon" color="accent">Login</button></a>&nbsp;&nbsp;&nbsp;
    <!-- <a href="register/register.component.html" routerLink="register" target="_self"><button name ="registerComponent"  mat-raised-button class="example-icon" color="accent">SignUp</button></a> -->
    <!-- <a href="src\app\admincom\admincom.component.html" routerLink="admincomponent" target="_self"><button name ="adminComponent"  mat-raised-button class="example-icon" color="accent">Admin</button></a>&nbsp;&nbsp;&nbsp; -->
    <!-- <a href="src\app\user\user.component.html" routerLink="user" target="_self"><button name ="userComponent"  mat-raised-button class="example-icon" color="accent">User</button></a>&nbsp;&nbsp;&nbsp; -->
  </div>
  </div>
</nav>
<div >
<router-outlet></router-outlet></div>
<!-- home content -->
<!-- <div class="container-fluid" style="margin-top:60px">
  
  <div class="homecontent1">
  </div>
  <div class="homecontent2"><h1 align="center">Address Book Features</h1>
    <div class="container">
      <table align="center" cellpadding="50" > 
        <tr><td>
      <div class="card" style="width:300px">
        <img class="rounded" class="card-img-top" src="https://cdni.iconscout.com/illustration/premium/thumb/coworkers-in-office-4889864-4073275.png" alt="Card image" style="width:100%;height:100%;">
        </div><div class="card-body">
          <h4 class="card-title" align="center"><b>Know More About your Colleagues</b></h4>
          </div>
        </td><td>
          <div class="card" style="width:300px">
            <img class="rounded" class="card-img-top" src="https://img.freepik.com/premium-vector/communication-email_118813-2762.jpg" alt="Card image" style="width:100%;height:100%;">
            </div><div class="card-body">
              <h4 class="card-title" align="center"><b>Directly Contact with Your Persons</b></h4>
              </div>
            </td>
            <td>
              <div class="card" style="width:300px">
                <img class="rounded" class="card-img-top" src="https://img.freepik.com/premium-vector/illustration-vector-graphic-cartoon-character-system-update_516790-1238.jpg" alt="Card image" style="width:100%;height:100%;">
               </div><div class="card-body">
                    <h4 class="card-title" align="center"><b>You can update Your Profile.</b></h4>
                    </div>
                </td></tr> </table></div>
  </div>
  <div class="footerSection">
    <table  align = "center" cellpadding="60" cellspacing="20" style="color:white">
      <tr>
        <td><img src="https://relevantz.com/wp-content/uploads/2022/03/Relevantz_Logo-on-Blue.svg" style="height:130px ; width:180px" class="md-card-image" alt="~/Frontend/images/question-circular-button.svg"><br><b>(Formerly ObjectFrontier Software)</b><br><br>
          <br>We are in the business of custom software engineering. For 25 years we<br> have been partnering with customers — with an engineering mindset, doing<br> what’s relevant, and winning their trust.</td>
        <td><ul type = "none"><li>About Us</li><br>
          <li>Services</li><br>
          <li>Careers</li><br>
          <li>Contact Us</li><br>
          <li>Privacy Policy</li><br>
            </ul></td>
      </tr></table>
</div></div>  -->
<!-- <app-home></app-home> -->

</body>