<form name="abtfrm" id="abtfrm"> 
  <mat-toolbar  style="width: 100%;">
    <button mat-icon-button >
        <mat-icon>scatter_plot</mat-icon>
  </button>
  <span style="color:rgb(7, 7, 94)">Values</span>
    <span class="example-spacer"></span>
    <button type="button" class="btn btn-primary " routerLink="/">Back</button>
  </mat-toolbar>
  <div class="container2" style="padding-left: 20%;">
    <div style="margin-top: 50px;">
      <div class="row">
        <div class="col-sm-3"  > <div class="container mt-3" align="center">
          <div class="card"  align="center" style="align-content: center;align-items: center;">
            <img class="card-img-center" align="center" src="https://cdn-icons-png.flaticon.com/128/5554/5554947.png" alt="Card image" style="width:50%;">
            <div class="card-body" style="width: 250px;">                
              <button name ="openComponent" class="btn btn-outline-primary" >
                Predictability
              </button>
            </div>
          </div>       
      </div></div>
      <div class="col-sm-3" > <div class="container mt-3">
        <div class="card"  align="center" style="align-content: center;align-items: center;">
          <img class="card-img-center" align="center" src="https://cdn-icons-png.flaticon.com/128/8759/8759150.png" alt="Card image" style="width:50%;">
          <div class="card-body">                
            <button name ="openComponent" class="btn btn-outline-primary" >
                Ownership
              </button>
          </div>
        </div>       
    </div></div>
    <div class="col-sm-3" > <div class="container mt-3">
      <div class="card"  align="center" style="align-content: center;align-items: center;">
        <img class="card-img-center" align="center" src="https://cdn-icons-png.flaticon.com/128/5480/5480983.png" alt="Card image" style="width:50%;">
        <div class="card-body">                
            <button name ="openComponent" class="btn btn-outline-primary" >
            Receptiveness
              </button>
        </div>
      </div>       
  </div></div>
 
 </div>
<div class="row" style="padding-left: 15%;">
    <div class="col-sm-3"  > <div class="container mt-3" align="center">
      <div class="card"  align="center" style="align-content: center;align-items: center;">
        <img class="card-img-center" align="center" src="https://t3.ftcdn.net/jpg/03/21/63/62/240_F_321636247_R21aD4tKrLfpEuZ3XWVGNfXIg2e5LpZc.jpg" alt="Card image" style="width:50%;">
        <div class="card-body" style="width: 250px;">                
            <button name ="openComponent" class="btn btn-outline-primary" >
               Integrity
              </button>
        </div>
      </div>       
  </div></div>
  <div class="col-sm-3" > <div class="container mt-3">
    <div class="card"  align="center" style="align-content: center;align-items: center;">
      <img class="card-img-center" align="center" src="https://cdn-icons-png.flaticon.com/128/910/910129.png" alt="Card image" style="width:50%;">
      <div class="card-body">                
        <button name ="openComponent" class="btn btn-outline-primary" >
          Engineering Mindset
          </button>
      </div>
    </div>       
</div></div>


</div>
</div></div> </form>
